

body{
    margin : 0 ;
    padding : 0;
}

#main_wrap{
    display: flex;

    width : 100vw;
    height : 100vh;
    

    #action_wrap{
        width :calc(100vw - 240px);

        #calendar_wrap{
            height : 40vh;

            display:flex;
            justify-content: center;
            align-items : flex-start;

            .react-calendar{
                width  : 60vw;
                max-height : 100%;
                border:none;
            }



            .react-calendar__navigation__label{
                
            }
        }
       
        #diary_page{
            
            width : 100%;
            height : 60vh;
            
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            box-sizing: border-box;
           
            border-top : 1px solid #DFDFDE;

            #diary_header{
                width : 100%;
                height : 10vh;

                display: flex;
                align-items: center;
                
                #diary_header_h1{
                    margin : 0 40px;
                    padding : 0;
                }
            }

            #diary_footer{
                display: flex;
                justify-content: center;
                align-items: center;
                height : 5vh;
                font-weight: 600;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
            }


            #diary_contents{
                width : 100%;
                height : calc(100% - 15vh);
              
                #diary_wrote_list{
                    height : 100%;
                    box-sizing: border-box;
                    width : 100%;
                    padding : 15px 50px;

                    #diary_wrote_ul{
                        width : 100%;
                        height  :100%;
                        margin : 0;
                        padding : 0;
                        list-style-type: none;
                        overflow-y: auto;
                        .diary_wrote_item{
                            
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
                            font-size: 16px;

                            .diary_wrote_title{
                                padding: 3px 2px;
                                color: #37352F;
                                font-weight: 600;
                            }

                            .diary_wrote_txt{
                                padding: 3px 2px;

                                padding-left: 1.5em;
                            }
                        }
                    }
                    
                }

                
            }

            #diary_btn_wraps{
                height : 5vh;
                width : 100%;
                box-sizing: border-box;

                background-color : #333;
            }

            
        }

    }
}

