body{
    margin : 0 ;
    padding : 0;
}

#main_wrap{
    display: flex;

    width : 100vw;
    height : 100vh;
    
    #menu_bar_wrap{
        width : 10%;
      
        
        background-color: #374346;
    }

    #action_bar_wrap{
        width :90%;
       
        #diary_wrap{
            
            width : 100%;
            height : 70%;

            display: flex;
            justify-content: center;
            align-items: center;
           

            #diary_text{

                width : 80%;
                height : 50%;
                box-sizing: border-box;
                resize: none;
            }
        }

        .react-calendar{
            width : 100%;
            height : 30%;
        }
    }
}

